<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<link th:href="@{/css/topics.css}" rel="stylesheet" />
</head>

<body>
	<div th:fragment="topics">
		<div class="container">
			<div class="topics-card">
				<header class="card-header">
					<h2 class="card-title">Tópicos</h2>

					<p>Categorias</p>
				</header>
				<div class="card-content">
					<div th:each="post : ${posts}" class="post-item">
						<a th:href="@{/post/{id}(id=${post.id})}">
							<h1 th:text="${post.topic.title}"></h1>
							<p th:text="${post.content}"></p>
							<p th:text="${post.person.nickname}" class="post-owner"></p>
							<p th:text="${#temporals.format(post.creationDate, 'dd-MM-yyyy HH:mm')}"></p>
						</a>
					</div>
				</div>
			</div>
			<div class="recents-card">
				<header class="card-header">
					<h2 class="card-title">Mais Recentes</h2>
				</header>
				<div th:each="post : ${posts}" class="post-item">
					<a th:href="@{/post/{id}(id=${post.id})}">
						<h1 th:text="${post.topic.title}"></h1>
						<p th:text="${post.content}"></p>
						<p th:text="${post.person.nickname}" class="post-owner"></p>
						<p th:text="${#temporals.format(post.creationDate, 'dd-MM-yyyy HH:mm')}"></p>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>