<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<link th:href="@{/css/topics.css}" rel="stylesheet" />
</head>

<body>
	<div th:fragment="topics">
		<div class="container">
			<div class="topics-card">
				<header class="card-header">
					<h2 class="card-title">Tópicos</h2>
					<p>Categorias</p>
				</header>
				<div class="card-content">
				</div>
			</div>
			<div class="recents-card">
				<header class="card-header">
					<h2 class="card-title">Mais Recentes</h2>
					<div></div>
			</div>
		</div>
	</div>
</body>

</html>